name: build
on:
  schedule:
      - cron: '0 0 * * 0'
  workflow_dispatch:
permissions:
  contents: write 
jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Setup MSVC
        uses: microsoft/setup-msbuild@v1
      
      - name: Setup vcpkg
        run: |
          git clone https://github.com/Microsoft/vcpkg.git
          .\vcpkg\bootstrap-vcpkg.bat
          .\vcpkg\vcpkg integrate install
      
      - name: Install dependencies
        run: |
          .\vcpkg\vcpkg install openssl:x86-windows curl:x86-windows
      
      - name: Build with MSVC
        shell: cmd
        run: |
          call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars32.bat"
          
          set repos=libplist libimobiledevice-glue libusbmuxd libtatsu libimobiledevice
          for %%r in (%repos%) do (
            git clone https://github.com/libimobiledevice/%%r
            cd %%r
            cmake -B build -G "NMake Makefiles" ^
              -DCMAKE_BUILD_TYPE=Release ^
              -DCMAKE_INSTALL_PREFIX=../install ^
              -DCMAKE_TOOLCHAIN_FILE=../vcpkg/scripts/buildsystems/vcpkg.cmake
            cmake --build build --config Release
            cmake --install build
            cd ..
          )
      
      - name: Package Release
        run: |
          mkdir rel
          copy install\bin\*.dll rel\
          copy install\lib\*.lib rel\
          copy install\bin\*.exe rel\
          cd rel
          tar -czf ..\libimobile-suite-latest_w32_msvc.zip *
      
      - name: Publish Release
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        run: |
          $TAG = "v$(Get-Date -Format 'yyyyMMdd')-$(git rev-parse --short HEAD)"
          echo "TAG=$TAG" >> $env:GITHUB_ENV
          gh release create "$TAG" --title "Release MSVC Build"
          gh release upload "$TAG" libimobile-suite-latest_w32_msvc.zip
        shell: pwsh
